body{
    display: flex;
    background: black;
    align-items: center;
}
#contenedor {
    width: 500px;
    
    text-align : center;
    border: 10px black;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}
#esto {
    background-color: aquamarine;
}